[env:esp32dev_ota]
extends = env:esp32dev
build_flags =
	${env:esp32dev.build_flags}
	-D ENABLE_OTA

upload_flags = --auth=sesameadmin
upload_protocol = espota
upload_port = sesame-robot.local
;upload_port = <IP_ADDRESS>
